<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + TS</title>
  </head>
  <body>
    <label for="pet-select">Filter</label>
    <!-- <select name="priority" id="priority-select">
      <option value="all">All</option>
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select> -->
    <select name="filter" id="filter-select">
      <option value="all">All</option>
      <option value="status">Status</option>
      <option value="priority">Priority</option>
    </select>
    <select name="" id="filter-content">
      
    </select>
    <div id="container"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
